# General
.DS_Store
.AppleDouble
.LSOverride
env
src/__pycache__
src/.pytest_cache


# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Compiled object files
*.o
*.obj

# Compiled binary files
*.exe
*.out
*.elf
*.a
*.so
*.dll
*.dylib
main

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM/
*.stackdump

# Build directories
/build/
/bin/
/dist/

# Editor files
*~
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Generated